@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Press+Start+2P&display=swap');

:root {
  background-color: #61FFD5;
  background-size: 40px 40px;
  background-position: 0 0, 0 20px, 20px -20px, -20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

p {
  color: #7f4bd6;
  font-family: 'Baloo 2', cursive;
  font-size: 1.75rem;
  margin-bottom: 1rem;
  text-align: center;
}

